@charset "UTF-8";
/* 
 * Font
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* 
 * 全域變數
 */
:root {
  --color-main: 190 154 54;
  --color-main2: 208 181 115;
  --ff-def: "Noto Sans TC", "Microsoft JhengHei UI","Microsoft JhengHei", sans-serif;
  --fs-def: 18px;
  --fs-subhead: clamp(1.388em, 1.57vw, 1.66em);
  --fz-h1: clamp(1.625rem, 2.5vw, 2rem);
  --fz-h2: clamp(1.4125rem, 2.5vw, 1.875rem);
  --fz-h3: clamp(1.375rem, 2.5vw, 1.625rem);
  --fz-h4: clamp(1.25rem, 2.5vw, 1.5rem);
  --fz-h5: clamp(1.1875rem, 2vw, 1.4125rem);
  --fz-h6: clamp(1.125rem, 1.8vw, 1.375rem);
  --fz-sm: 0.9375em;
  --gap: 25px;
  --w-container: 1100px;
  --w-container-lg: 1400px;
  --h-header: 108px;
  --h-btn: 50px;
  --plyr-control-spacing: 10px;
  --plyr-color-main: #d0b573;
  --button-radius: 50px;
}
:root #i-kanban {
  --w-container: 1250px;
}
:root .is-fixed-header {
  --h-header: 75px;
}
:root .is-fixed-header #i-kanban {
  --h-header: 108px;
}

@media (max-width: 767px) {
  :root {
    --h-header: 65px;
  }
  :root .is-fixed-header {
    --h-header: 65px;
  }
  :root .is-fixed-header #i-kanban {
    --h-header: 65px;
  }
}
/* 
 * Reset
 */
/* 
 * Reset
 */
* {
  min-width: 0;
  box-sizing: border-box;
  position: relative;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0 0 0.25em 0;
}

ol {
  list-style: decimal;
  padding: 0 0 0 1em;
  margin: 0;
}
ol li {
  margin: 0 0 0.25em 0;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  object-position: center;
  object-fit: cover;
}

input, button, textarea, select {
  font: inherit;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: calc(var(--fs-def) * 0.88);
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa;
  font-size: calc(var(--fs-def) * 0.88);
  opacity: 1;
}

:-ms-input-placeholder,
:-moz-placeholder {
  color: #aaa;
  font-size: calc(var(--fs-def) * 0.88);
  opacity: 1;
}

html {
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--ff-def);
  font-size: var(--fs-def);
  color: #333;
  line-height: 1.8;
  font-weight: 400;
  word-wrap: break-word;
  overflow-x: hidden;
}

/**!
 * * 保留BS v3隱藏/顯示的樣式 https://getbootstrap.com/docs/3.4/customize/
 * * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * * Copyright 2011-2019 Twitter, Inc.
 * * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/**! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

[role=button] {
  cursor: pointer;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.disabled,
.disabled:hover {
  cursor: not-allowed;
}

/* 
 * Header
 */
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.35s ease;
}
.header .l-container-lg {
  height: var(--h-header);
  transition: height 0.35s ease;
}

.is-fixed-header .header {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--gap) - 10px);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0.4em 0 0;
  display: flex;
  gap: 0 var(--gap);
  justify-content: flex-end;
  align-items: center;
}
.menu > li {
  display: inline-block;
  padding: 0 10px;
}
.menu > li > a {
  line-height: var(--h-header);
  white-space: nowrap;
  font-size: var(--fs-def);
  color: #fff;
}
.menu > li.is-active > a {
  color: rgb(var(--color-main));
}

.pc .menu > li:hover > a {
  color: rgb(var(--color-main2));
}

@media (min-width: 768px) {
  .nav-switch, .pc-hide {
    display: none !important;
  }
  .nav {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 180px;
  }
  .nav-switch {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: var(--h-btn);
    height: var(--h-btn);
    transform: translateY(-50%);
    padding: 0;
    background-color: transparent;
    z-index: 99;
    border-radius: 55px;
    cursor: pointer;
    transition: top 0.2s, border-color 0.2s;
  }
  .nav-switch > div {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    font-size: 0;
    transform-origin: center top;
    transition: transform 0.25s;
  }
  .nav-switch > div > div {
    height: 1px;
    width: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    transition: transform 0.25s ease;
  }
  .nav-switch > div > div:nth-of-type(1) {
    margin-top: -6px;
  }
  .nav-switch > div > div:nth-of-type(3) {
    margin-top: 6px;
  }
  .nav-switch:hover > div > div {
    background-color: rgb(var(--color-main));
  }
  .nav {
    display: none;
    top: var(--h-header);
    left: 0;
    right: 0;
    height: auto;
    position: fixed;
    transform: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .menu {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .menu > li {
    display: block;
    padding: 5px 0;
  }
  .menu > li > a {
    display: block;
    line-height: 1.4;
    padding: 5px var(--gap);
    text-align: center;
  }
  .is-open-nav .nav-switch > div > div:nth-of-type(1) {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .is-open-nav .nav-switch > div > div:nth-of-type(2) {
    transform: scaleX(0);
  }
  .is-open-nav .nav-switch > div > div:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  .is-open-nav .nav {
    display: block;
    animation: ani_fade_in 0.25s both;
  }
}
@media (max-width: 579px) {
  .logo {
    width: 130px;
  }
}
/* 
 * Footer
 */
.footer {
  color: #fff;
  font-size: calc(var(--fs-def) * 0.944);
}

.f-contact {
  background: rgba(55, 143, 225, 0.1);
  color: #333;
  padding: 1em 0;
}
.f-contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px var(--gap);
}
.f-contact ul > li {
  white-space: nowrap;
  font-style: normal;
  text-align: center;
  flex-grow: 1;
}
.f-contact ul > li::before {
  content: "";
  background: rgba(55, 143, 225, 0.3);
  width: 1px;
  height: 1em;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--gap) * -0.5);
}
.f-contact ul > li:last-child::before {
  display: none;
}
.f-contact ul > li i {
  font-style: normal;
}
.f-contact ul > li svg {
  width: 26px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 3px;
}
.f-contact ul > li svg.icon-tabler-mail {
  margin-top: 5px;
}
.f-contact ul > li .icon {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.f-contact ul > li > a {
  text-align: center;
  display: inline-flex;
  color: #333;
}
.f-contact ul > li > a:acitve {
  color: var(--color-main);
  text-decoration: underline;
}

.pc .f-contact ul > li > a:hover {
  color: var(--color-main);
}

.f-bottom {
  background-color: #011D41;
  color: #fff;
  padding-top: max(var(--gap), 4.7vh);
  padding-bottom: max(var(--gap), 4.7vh);
}
.f-bottom a {
  color: #fff;
}
.f-bottom .container {
  display: flex;
  justify-content: space-between;
}
.f-bottom .left {
  flex-grow: 1;
}
.f-bottom .right {
  flex-grow: 0;
  text-align: right;
}

.pc .f-bottom a:hover {
  color: var(--color-main);
}

.f-links {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}
.f-links [accesskey] {
  left: calc(var(--gap) * -1);
  top: 0;
}
.f-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
}
.f-links ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.f-links ul > li::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  left: -12px;
  top: 50%;
  margin-top: -0.5em;
}
.f-links ul > li:first-child::before {
  display: none;
}
.f-links a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.pc .f-links a:hover {
  color: #fff;
}

.f-related {
  display: flex;
  justify-content: flex-end;
  gap: 5px 1em;
  margin-bottom: 1em;
}
.f-related a {
  display: inline-block;
  vertical-align: top;
}
.f-related a img {
  max-height: 38px;
}

.subscribe-switch {
  --h-btn: 40px;
  min-width: 140px;
  height: var(--h-btn);
  background-color: var(--color-second);
  color: #fff !important;
  display: inline-block;
  line-height: var(--h-btn);
  text-align: center;
}
.subscribe-switch svg {
  margin-bottom: 3px;
}

.pc .subscribe-switch:hover {
  background-color: var(--color-second2);
  color: #fff !important;
}

@media (max-width: 1299px) {
  .f-contact ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .f-contact ul > li {
    flex-grow: 0;
  }
  .f-bottom .container {
    display: block;
    text-align: center;
  }
  .f-bottom .right {
    margin-top: 15px;
  }
  .f-links {
    margin-top: 1em;
  }
  .f-links [accesskey] {
    left: 50%;
    top: -1em;
    transform: translate(-50%, -30%);
  }
  .f-links ul {
    justify-content: center;
  }
  .f-links ul > li.last {
    flex: 0 0 100%;
  }
  .f-links ul > li.last::before {
    display: none;
  }
  .f-related {
    justify-content: center;
  }
  .f-bottom .right {
    text-align: center;
  }
}
@media (max-width: 579px) {
  .f-contact {
    padding-top: 1em;
  }
  .f-contact [accesskey] {
    left: 50%;
    top: 0;
    transform: translate(-50%, -80%);
  }
  .f-contact ul {
    display: block;
  }
  .f-contact ul > li {
    display: block;
  }
  .f-contact ul > li::before {
    display: none;
  }
}
/* 
 * 架構其他共用部分
 */
.gotop {
  position: fixed;
  right: var(--gap);
  bottom: var(--gap);
  opacity: 0;
  z-index: 150;
  cursor: pointer;
  color: #fff;
  background-color: #1FAC79;
  width: 46px;
  aspect-ratio: 1;
  border-radius: 50px;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  transform: scale(0) translateY(25px);
  transition: transform 0.35s, opacity 0.35s;
}
.gotop svg {
  width: 100%;
  max-width: 30px;
}
.gotop.is-show {
  transform: scale(1);
  opacity: 1;
}

.pc .gotop:hover {
  color: #fff;
  background-color: #23cc8e;
  transform: translateY(-5px);
}

.mb .gotop:active {
  color: #fff;
  background-color: #23cc8e;
  transform: translateY(-5px);
}