/* 
 * 全域變數
 */

:root{
  // ===========
  // 字型 rgb
  // ===========
  //主色
  --color-main: 190 154 54;
  --color-main2: 208 181 115;

  // ===========
  // 字型
  // ===========
  --ff-def: 'Noto Sans TC', 'Microsoft JhengHei UI','Microsoft JhengHei', sans-serif;

  
  // ===========
  // 文字尺寸
  // ===========
  //內文
  --fs-def: 16px;
  // 標題 25-30px
  --fs-subhead: clamp(1.388em, 1.57vw, 1.66em);

  // H1 20 - 
  --fz-h1: clamp(1.625rem, 2.5vw, 2rem);
  // H2 (編輯器通用)
  --fz-h2: clamp(1.4125rem, 2.5vw, 1.875rem);
  // H3 (編輯器通用)
  --fz-h3: clamp(1.375rem, 2.5vw, 1.625rem);
  // H4 (編輯器通用)
  --fz-h4: clamp(1.25rem, 2.5vw, 1.5rem);
  // H5 (編輯器通用)
  --fz-h5: clamp(1.1875rem, 2vw, 1.4125rem);
  // H6 (編輯器通用)
  --fz-h6: clamp(1.125rem, 1.8vw, 1.375rem);
  // small
  --fz-sm: 0.9375em;

  // =========== 
  // 間距
  // ===========

  --gap: 25px;

  
  // ===========
  // 寬或高
  // ===========

  // 主容器寬
  --w-container: 1100px;
  #i-kanban {
    --w-container: 1250px;
  }
  // 主容器寬(較大)
  --w-container-lg: 1400px;

  // Header
  --h-header: 90px;
  .is-fixed-header {
    --h-header: 75px;
    #i-kanban {
      --h-header: 90px;
    }
  }
  --h-btn: 50px;

  
  // ===========
  // 影音plyr套件 顏色 與 play控制器間距
  // ===========
  --plyr-control-spacing: 10px;
  --plyr-color-main: #d0b573;


  // ===========
  // 圓角
  // ===========
  
  // Button
  --button-radius: 50px;

}
@media  (max-width: 767px) {
  :root{
    
    // Header
    --h-header: 65px;
    .is-fixed-header {
      --h-header: 65px;
      #i-kanban {
        --h-header: 65px;
      }
    }
  }
}