@use "sass:math";
// 變數
@use "../mixin/variable" as vars;
// Mixin
@use "../mixin/mixin";

/* 
 * Button
 */
.button {
  border: none;
  display: inline-block;
  font-size: var(--fs-btn);
  width: 170px;
  height: var(--h-btn);
  line-height: var(--h-btn);
  border-radius: 4px;
  background-color: var(--color-primary);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  transition: color 0.15s, background-color 0.15s;
}
.pc .button {
  &:hover {
    background-color: var(--color-secondary);
    color: #fff;
  }
}

.button-wrap {
  text-align: center;
  padding: var(--gap) 0;
  .button {
    margin: 0 auto;
    width: 230px;
  }
}
@media (max-width: 579px) {
  .button-wrap {
    padding: 0;
    .button {
      width: 100%;
    }
  }
}

.button-round {
  display: inline-block;
  font-size: calc(var(--fs-def) * 0.875);
  height: var(--h-btn);
  line-height: var(--h-btn);
  border-radius: 50px;
  background-color: var(--color-main);
  color: #fff;
  padding: 0 1em 0 0.8em;
  white-space: nowrap;
  text-align: center;
  transition: color 0.15s, background-color 0.15s;
  svg {
    max-width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.25em;
  }
}
.pc .button-round {
  &:hover {
    background-color: var(--color-main2);
    color: #fff;
  }
}

.btn-banner {
  @include mixin.g-btn( #fff, var(--color-secondary), 30px, 60px, 60px, 190px);
  &::after {
    @include mixin.g-btn-dec;
    background: rgba(#000, 0.3);
  }
  span {
    @include mixin.g-btn-aw;
    background: #2571aa;
  }
}
.pc {
  .btn-banner:hover {
    color: #fff;
    gap: 1rem;
    letter-spacing: 1px;
    background-color: trnsparent;
    &::after {
      width: 400%;
      height: 400%;
    }
    span {
      background: #000;
      &::before {
        width: 0;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(405deg);
      }
    }
  }
}
@media (max-width: 991px) {
  .btn-banner {
    font-size: 0.875rem;
    height: 44px;
    line-height: 44px;
    width: 155px;
    gap: 1rem;
    span {
      height: 30px;
      width: 30px;
      &::before {
        width: 22px;
        right: 13px;
      }
    }
  }
}