@use "../mixin/variable" as vars;
@use "../plugins/swiper";
//-------- index banner --------//
.scrolldown {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 48px;
  bottom: 50px;
  left: 50%;
  margin-left: -17px;
  z-index: 50;
  border-radius: 24px;
  border: 2px solid #fff;
  &::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    left: 50%;
    top: 10px;
    margin-left: -2px;
    background: #fff;
    border-radius: 50%;
    animation: up-down 1.5s linear infinite;
  }
}
@keyframes up-down {
  0% {
    top: 12px;
  }
  24% {
    top: 18px;
  }
  50% {
    top: 30px;
  }
  74% {
    top: 18px;
  }
  100% {
    top: 12px;
  }
}


// #義倉精機 https://demo.grnet.com.tw/yeitek/demo/
// 按鈕數字 #萬寶隆空間設計 https://demo.grnet.com.tw/mb-design/demo/
.i-banner {
  margin-top: 90px;
  aspect-ratio: 1920 / 840;
  .swiper-wrapper {
    overflow: visible
  }
  .swiper-slide {
    overflow: hidden;
    .i-ban-pic {
      display: block;
      position: relative;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      aspect-ratio: 1920 / 960;
      transform: scale(1.1);
      transition: all 2s;
      img, source {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100% !important;
        width: 100% !important;
        max-width: none !important;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center center;
        
      }
    }
    .video {
      .plyr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    iframe,
    .plyr--video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .plyr--video {
      z-index: 5;
    }
  }
  
  // 文字
  .swiper-txt {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    position: absolute;
    left: 50%;
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    .headline {
      width: 100%;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }
    .subtitle {
      width: 100%;
      font-size: var(--fz-h2);
    }
    .btn-banner {
      margin: 0 auto;
    }
  }
  // 按鈕
  .control-box {
    position: absolute;
    bottom: 80px;
    right: 100px;
    z-index: 1;
  }

  .swiper-slide-active {
    .i-ban-pic {
      transform: scale(1);
    }
  }
}

@media (max-width: 991px) {
  .i-banner {
    aspect-ratio: 1000 / 860;
    .swiper-txt {
      width: 90%;
      .subtitle {
        width: 100%;
      }
    }
    .control-box {
      right: 30px;
      bottom: 30px;
    }
  }
}
@media (max-width: 767px) {
  .i-banner {
    .swiper-txt {
      gap: 5px;
    }
    .control-box {
      right: 10px;
      bottom: 10px;
    }
  }
}

