@use "../mixin/variable" as vars;
@use "../plugins/swiper";
//-------- index banner --------//
.scrolldown {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 48px;
  bottom: 50px;
  left: 50%;
  margin-left: -17px;
  z-index: 50;
  border-radius: 24px;
  border: 2px solid #fff;
  &::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    left: 50%;
    top: 10px;
    margin-left: -2px;
    background: #fff;
    border-radius: 50%;
    animation: up-down 1.5s linear infinite;
  }
}
@keyframes up-down {
  0% {
    top: 12px;
  }
  24% {
    top: 18px;
  }
  50% {
    top: 30px;
  }
  74% {
    top: 18px;
  }
  100% {
    top: 12px;
  }
}


.i-banner-wrap {
  position: relative;
  overflow: hidden;
  background: #000;
  .item {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 975;
    overflow: hidden;
    img, picture {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .background {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 1s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .foreground {
      opacity: 0;
      position: absolute;
      z-index: 15;
      top: 50%;
      left: 50%;
      max-width: 400px;
      width: 100%;
      max-height: 100%;
      text-align: center;
      transition: 1s;
      transform: translate(-50%, -50%);
      transition-delay: .3s;
    }
  }
  .swiper-slide-active {
    .item {
      .foreground {
        opacity: 1;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    display: none!important;
    color: var(--kanban-button);
    position: absolute;
    z-index: 15;
    &:after, &:after { 
      font-size: 2.5rem; 
    }
  }
  .swiper-button-prev { left: 25px; }
  .swiper-button-next { right: 25px; }
  .swiper-pagination {
    z-index: 15;
    position: absolute;
    right: max(20px, 4.5vw);
    left: auto;
    top: 50%;
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
  }
  .swiper-pagination-bullet {
    display: block;
    margin: 7px auto;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 8px;
    transition: background-color .5s;
    background-color: transparent;
    border: 1px solid #fff;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
}

// #義倉精機 https://demo.grnet.com.tw/yeitek/demo/
// 按鈕數字 #萬寶隆空間設計 https://demo.grnet.com.tw/mb-design/demo/
.i-banner {
  aspect-ratio: 1920 / 970;
  .swiper-wrapper {
    overflow: visible
  }
  .swiper-slide {
    img {
      width: 100%;
      display: block;
    }
  }
  .video {
    .plyr{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  // 文字
  .swiper-txt {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    position: absolute;
    left: 50%;
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    .headline {
      width: 100%;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }
    .subtitle {
      width: 100%;
      font-size: var(--fz-h2);
    }
    .btn-banner {
      margin: 0 auto;
    }
  }
  // 按鈕
  .control-box {
    position: absolute;
    width: 10px;
    right: 3%;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    color: #fff;
    z-index: 1;
    .swiper-pagination {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    .swiper-pagination-bullet {
      background: #fff;
      &.swiper-pagination-bullet-active {
        background: var(--color-secondary);
        width: 12px;
        height: 12px;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23199DC8FF' stroke-width='3' stroke-dasharray='150%25%2c 100%25' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
          border-radius: 100px;
          transform: translate(-50%,-50%);
          animation: rotate 5s;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .i-banner {
    aspect-ratio: 1000 / 970;
    .swiper-txt {
      width: 90%;
      .subtitle {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .i-banner {
    .swiper-txt {
      gap: 5px;
    .control-box {
      width: 100%;
      left: 0%;
      top: 90%;
      transform: translateY(0%);
      .swiper-pagination-bullet {
        opacity: 1;
        margin: 0 5px;
      }
    }
    }
  }
}