@use "sass:math";
// 變數
@use "../mixin/variable" as vars;
// Mixin
@use "../mixin/mixin";

/* 
 * Footer
 */
.footer {
  color: #fff;
  font-size: calc(var(--fs-def) * 0.944);
}
.f-contact {
  background: rgb(55 143 225/10%);
  color: #333;
  padding: 1em 0;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px var(--gap);
    > li {
      white-space: nowrap;
      font-style: normal;
      text-align: center;
      flex-grow: 1;
      &::before {
        content: '';
        background: rgb(55 143 225/30%);
        width: 1px;
        height: 1em;
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: calc(var(--gap) * -0.5);
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      i {
        font-style: normal;
      }
      svg {
        width: 26px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        margin-right: 3px;
        &.icon-tabler-mail {
          margin-top: 5px;
        }
      }
      .icon {
        font-size: 0;
        display: inline-block;
        vertical-align: top;
      }
      > a {
        text-align: center;
        display: inline-flex;
        color: #333;
        &:acitve {
          color: var(--color-main);
          text-decoration: underline;
        }
      }
    }
  }
}
.pc .f-contact { 
  ul {
    > li {
      > a {
        &:hover {
          color: var(--color-main);
        }
      }
    }
  }
}
.f-bottom {
  background-color: #011D41;
  color: #fff;
  padding-top: max(var(--gap), 4.7vh);
  padding-bottom: max(var(--gap), 4.7vh);
  a {
    color: #fff;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 0;
    text-align: right;
  }
}
.pc .f-bottom {
  a:hover {
    color: var(--color-main);
  }
}
.f-links {
  position: relative;
  color: rgb(255 255 255 / 60%);
  [accesskey] {
    left: calc(var(--gap) * -1);
    top: 0
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
    > li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 1em;
        background-color: rgb(255 255 255 / 60%);
        left: -12px;
        top: 50%;
        margin-top: -0.5em;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
  a {
    display: block;
    color: rgb(255 255 255 / 60%);
  }
}
.pc .f-links {
  a:hover {
    color: #fff
  }
}
.f-related {
  display: flex;
  justify-content: flex-end;
  gap: 5px 1em;
  margin-bottom: 1em;
  a {
    display: inline-block;
    vertical-align: top;
    img {
      max-height: 38px;
    }
  }
}
.subscribe-switch {
  --h-btn: 40px;
  min-width: 140px;
  height: var(--h-btn);
  background-color: var(--color-second);
  color: #fff!important;
  display: inline-block;
  line-height: var(--h-btn);
  text-align: center;
  svg {
    margin-bottom: 3px;
  }
}
.pc .subscribe-switch{
  &:hover {
    background-color: var(--color-second2);
    color: #fff!important;
  }
}
@media (max-width: 1299px) {
  .f-contact { 
    ul {
      flex-wrap: wrap;
      justify-content: center;
      > li {
        flex-grow: 0;
      }
    }
  }
  .f-bottom {
    .container {
      display: block;
      text-align: center;
    }
    .right {
      margin-top: 15px;
    }
  }
  .f-links { 
    margin-top: 1em;
    [accesskey] {
      left: 50%;
      top: -1em;
      transform: translate(-50%, -30%);
    }
    ul {
      justify-content: center;
      > li {
        &.last {
          flex: 0 0 100%;
          &::before {
            display: none;
          }
        }
      }
    } 
  }
  .f-related {
    justify-content: center;
  }
  .f-bottom {
    .right {
      text-align: center;
    }
  }
}
@media (max-width: 579px) {
  .f-contact {
    padding-top: 1em;
    [accesskey] {
      left: 50%;
      top: 0;
      transform: translate(-50%, -80%);
    }
    ul {
      display: block;
      > li {
        display: block;
        &::before{
          display: none;
        }
      }
    }
  }
}