@use "sass:math";
@use "sass:color";
// 變數
@use "../mixin/variable" as vars;
// Mixin
@use "../mixin/mixin";

/* 
 * Header
 */
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.35s ease;
  .w-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
  }
}
.logo {
  display: flex;
  margin: 1rem;
  width: auto;
  height: 30px;
  gap: 1rem;
  span {
    display: flex;
    align-items: center;
  }
}

/* 選單按鈕 */
.nav-switch {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: var(--color-main); // color
    transform: translate(-50%, -50%) rotate(0);
    transform-origin: center;
    transition: margin 0.35s 0.3s, transform 0.35s;
    &:nth-child(1) { margin-top: -15%;}
    &:nth-child(2) { transition: opacity 0.35s;}
    &:nth-child(3) { margin-top: 15%;}
  }
  &.is-open span {
    &:nth-child(1) {
      margin-top: 0;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: margin 0.35s, transform 0.35s 0.3s;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      margin-top: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: margin 0.35s, transform 0.35s 0.3s;
    }
  }
}
@media (max-width: 992px) {
  .nav-switch {
    display: block;
  }
}


/* menu 選單 */
.nav {
  display: flex;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 var(--gap);
  > li {
    position: relative;
    > a {
      white-space: nowrap;
      font-size: var(--fs-def);
      color: #000;
      padding: 1rem;
    }
    > ul {
      display: none;
      opacity: 0;
      position: absolute;
      top: calc(100% + 0.75rem);
      left: 50%;
      transform: translateX(-50%);
      min-width: 180px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(#000, 0.2);
      li {
        border-bottom: 1px solid rgba(#000, 0.2);
        &:last-child {
          border-bottom: none;
        }
        a {
          display: block;
          padding: 0.5rem 1.2rem;
          color: #666;
          background-color: #fff;
          transition: background-color 0.2s;
          &.current {
            background-color: rgb(var(--color-main2));
          }
        }
      }
    }
    // &.is-open {
    //   > a {
    //     color: rgb(var(--color-main));
    //   }
    // }
  }
}
.pc .menu {
  > li {
    &:hover {
      > a {
        color: rgb(var(--color-main2));
      }
      > ul {
        display: block;
        opacity: 1;
      }
    }
  }
}

@media  (min-width: 993px) {
  // .nav-switch, .pc-hide {
  //   display: none!important;
  // }
  .nav {
    justify-items: center;
    justify-content: end;
  }
}

@media  (max-width: 992px) {
  .nav {
    display: none;
    top: var(--h-header);
    left: 0;
    right: 0;
    height: auto;
    position: fixed;
    transform: none;
    background-color: rgb(0 0 0 / 0.9);
  }
  .menu {
    gap: 0 1.5em;
    > li {
      flex-wrap: wrap;
      width: 100%;
      > a {
        display: block;
        line-height: 1.4;
        padding: 5px var(--gap);
        text-align: center;
      }
    }
  }
  .is-open-nav {
    .nav-switch {
      > div > div {
        &:nth-of-type(1) {
          transform: rotate(45deg);
          margin-top: 0;
        }
        &:nth-of-type(2) {
          transform: scaleX(0);
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
          margin-top: 0;
        }
      }
    }
    .nav {
      display: block;
      animation: ani_fade_in 0.25s both;
    }
  }
}
// @media  (max-width: 579px) {
//   .logo {
//     width: 130px;
//   }
//   .nav {
//     transform: none;
//     top: auto;
//     bottom: 2px;
//     left: var(--gap);
//   }
//   .menu {
//     padding: 0;
//     justify-content: flex-start;
//     > li {
//       > a {
//         line-height: 1.4;
//         font-size: 0.9375rem;
//       }
//       &.link-contact {
//         position: absolute;
//         top: 0;
//         right: 0;
//         transform: translateY(-55%);
//       }
//     }
//   }
// }